.info-content{
    display: flex;
    background-color: rgba(22, 44, 68, 0.8);
    margin-top: 50px;
}

.info-content-one{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.info-content-one img{
    margin-bottom: 20px;
}

.info-side-links{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.info-side-links li{
    text-decoration: underline;
    color: #ffffff;
}

.info-content-two{
    margin: 20px;
}

.info-content-two-header{
    font-size: 20px;
    font-weight: bold;
    color: lightblue;
}

.info-content-two p{
    line-height: 20px;
    font-size: 14px;
}