@font-face {
    font-family: Ebrima;
    src: url("../fonts/ebrimabd.ttf");
}

@font-face {
    font-family: Gothic;
    src: url("../fonts/GOTHIC.TTF");
}

body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
}

.header {
    background-color: #3398CC;
    font-family: Gothic;
    height: 112px;
}

.header-text {
    color: #FFFFFF;
    font-size: 48px;
    padding: 27px 0 27px 20px;
}

.nav-pane {
    background-color: #323334;
    display: flex;
    flex-direction: row;
}

.nav-pane-image {
    margin-right: 25px;
    flex-grow: 1;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-pane-image img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

.nav-pane-list li {
    cursor: pointer;
    font-family: Ebrima;
    letter-spacing: 1px;
    color: white;
    border-width: 0 0 0 5px;
    border-style: solid;
    border-color: transparent;
    padding: 10px;
    font-size: 14px;
    display: inline;
}

.nav-pane-list {
    list-style-type: none;
    display: inline-block;
    padding: 10px;
    margin: 0;
}

a:link,
a:visited,
a:active,
a:hover {
    text-decoration: none;
    color: white;
}

.content-header {
    font-family: Ebrima;
    margin: 40px 0 0 20px;
    font-weight: bold;
}

.content {
    margin: 20px;
    font-family: 'Gothic';
    display: flex;
    flex-direction: row;
}

.content-list {
    border: 1px lightgray solid;
    font-family: 'Gothic';
    display: inline-block;
    width: 385px;
}

.content-list-data {
    list-style-type: none;
    padding: 5px 10px;
    margin: 0px;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: lightgray;
}

#name {
    font-size: 24px;
}

.content-data {
    display: inline-block;
    position: relative;
    width: 500px;
    margin-left: 100px;
    flex-grow: 1;
}

#content-add-address {
    display: none;
    background-color: white;
    position: absolute;
    top: 0;
    padding: 25px;
    width: 680px;
    box-shadow: 0px 0px 50px grey;
}

#content-add-address input,
#content-add-address textarea {
    padding: 10px;
    margin-bottom: 10px;
}

.mobile {
    margin-right: 10px;
}

.landline {
    margin-left: 10px;
}

.add-form {
    display: flex;
    flex-direction: column;
}

.add-form button {
    background-color: green;
    color: white;
    position: absolute;
    right: 0;
    padding: 10px 25px;
    border: none;
}

.label {
    margin-left: 30px;
}

#add-button-div {
    position: relative;
}

.phone-numbers {
    display: inline-flex;
}

.phone-numbers label,
.phone-numbers input {
    flex-grow: 1;
}

#content-first-line {
    display: flex;
    margin-bottom: 20px;
}

#content-name {
    display: inline-block;
    font-size: 30px;
}

#content-buttons {
    display: inline-flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
}

#content-edit img,
#content-delete img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

#content-edit,
#content-delete {
    margin-right: 50px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.content-line {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}

.content-phone-data {
    margin-bottom: 20px;
}

.content-mobile-div,
.content-landline-div {
    display: flex;
    flex-direction: row;
}